* {
  margin: 0%;
  padding: 0%;
  font-family: "Montserrat";
  font-style: normal;
}
body {
  overflow-y: scroll;
  font-family: "Montserrat";
  font-style: normal;
}
/* Navbar */
/* logo  */
#logo {
  padding: 15px 45px 14px 31px;
}
/* dropdown */
nav ul {
  list-style: none;
}
nav ul li {
  display: inline-block;
  position: relative;
}
nav ul li a {
  display: block;
  padding: 25px 25px;
  color: #071d49;
  text-decoration: none;
  text-align: center;
  height: 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
}
ul li ul.dropdown li {
  display: block;
}
ul li ul.dropdown {
  width: 100%;
  z-index: 999;
  position: absolute;
  display: none;
  background-color: #fff;
}
ul li a:hover {
  background: #fff;
}
ul li:hover ul.dropdown {
  display: block;
}
/* search */
#search-btn {
  padding: 23px;
  height: 17.49px;
  width: 17.49px;
}

/* get in touch */
#get-in-touch {
  background-color: #c5def4;
  border-radius: 4px;
  border: none;
  outline: none;
  box-sizing: border-box;
  padding: 13px 16px;
  margin: 12px 24px 0 28.51px;
}
#toggle {
  display: none;
}

/* hero  */
#hero-content {
  width: 580px;
  margin: 200px 100px;
}
#hero-content-h5 {
  display: none;
}
article div h1 {
  font-weight: 800;
  font-size: 48px;
  line-height: 120%;
  color: #071d49;
}
article div p {
  margin-top: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}
#learnmore {
  border-radius: 4px;
  border: none;
  outline: none;
  box-sizing: border-box;
  padding: 13px 16px;
  margin: 12px 24px 0 0;
  background-color: #254aa0;
  color: #fff;
}
#hero-article-image {
  position: absolute;
  right: 0;
  top: 96px;
  z-index: -1;
}
#hero-article-image-mid {
  display: none;
}
#hero-article-image-sm {
  display: none;
  z-index: -1;
}
/* absolute article  */
#absolute-article {
  background-image: -webkit-linear-gradient(#3bbfb5, #254aa0, #254aa0);
  color: #fff;
  border-radius: 0 150px 0 150px;
}
#absolute-article h2 {
  padding: 110px 375px 24px 220px;
}
#absolute-article p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 0px 375px 102px 220px;
}
/* bg image  */
#ring1-image {
  position: absolute;
  top: 1080px;
  right: 0px;
  width: 900px;
  z-index: -2;
}
#solution {
  width: 100%;
  /* margin: 67px 612px 0 612px; */
  margin: 4% 0 0 6%;
}

/* article 2 */
#solution-article {
  margin: 76px 0 0 126px;
}
#solution-article h4 {
  align-items: stretch;
  width: 200px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150.9%;
  margin-top: 34px;
  margin-left: 26px;
  color: #254aa0;
}
#solution-article h3 {
  align-items: stretch;
  font-weight: 500;
  font-size: 16px;
  line-height: 150.9%;
  margin-top: 34px;
  margin-left: 26px;
  color: #254aa0;
}

.strech {
  display: flex; flex-direction: column; border-left: 1px solid #6CACE4;
  justify-content: space-evenly;
}
#solution-content {
  border-top: 2px solid #6CACE4;
  margin-left: -6px;
  text-align: start;
  z-index: -1;
  backdrop-filter: blur(2px);
}
#solution-btn{
  display: none;
}
#solution-content-image{
  background-image: url('./resources/bg.svg');
   background-repeat: no-repeat; 
   padding: 0 0 0 16px; 
   margin-left: 100px;
}
 #solution-content-image-sm{
 display: none;
}
#solution-content h3 {
  margin-left: 60px;
  width: 500px;
  font-weight: 600;
  font-size: 20px;
  line-height: 150.9%;
}
#solution-content p {
  width: 471px;
  margin-left: 60px;
  margin-top: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 160.9%;
}
#solution-content ul,li{
  font-weight: 400;
font-size: 12px;
line-height: 160.9%;
margin-left: 40px;
}
#contact-btn{
  background-color: #254aa0;
  color: #fff;
  outline: none;
  border: none;
  margin-left: 46%;
  margin-top: 6%;
  border-radius: 4px;
  width: fit-content;
  padding: 6px 12px;
}
#bg-down-image{
  position: absolute;
  z-index: -1;
  top: 1500px;
  right: 0;
}
/* purple gradient  */
#purple-gradient{
  padding: 105px 138px 0 138px;
  margin-top: 5%;
  background-image: -webkit-linear-gradient(#274AA1,#274AA1,#7355C0);
  color: #fff;
  border-radius: 150px 0 150px 0;
}
#purple-gradient p{
font-weight: 400;
font-size: 12px;
line-height: 160.9%;
}
#purple-container{
  display: flex;
}
#purple-image-mid{
  display: none;
}
.margin-left{
  margin-left: -5%;
}
/* checklist  */
#checklist-sm{
  display: none;
}
#checklist-btn{
  margin-left: 40%; margin-top:38px; background-color: #254aa0;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 12px 16px 12px 16px;
}
#checklist-conatiner{
  backdrop-filter: blur(2px);
  margin-left: 2%; 
  margin-top: 131px;
}
#scroll-article-1{
  display: flex; 
  flex-direction: column;
  background-image: -webkit-linear-gradient(#E2EFFA,#DCF3F0,#DCF3F0);
  overflow-x: scroll;
  border-radius: 150px 0 150px 0;
  margin-top: 86px;
}

.font{
  font-weight: 800;
font-size: 80px;
line-height: 100%;
color: #fff;
text-shadow: 1px 1px #000;
}
#scroll-article p{
  color: #071d49;
  font-weight: 600;
font-size: 18px;
line-height: 150.9%;
}
#scroll-sm{
  display: none;
}
#scroll{
  display: flex;
   flex-wrap: nowrap;
   overflow: scroll;
   justify-content: space-evenly;
   width: 100%;
   margin-top: 75px;
}
#scroll-start{
  width: 285px; padding-left: 100px;
}
#scroll-h2{
  font-weight: 700;
font-size: 40px;
line-height: 125%;
color: #071d49;
}
#scroll-h4{
  display: none;
}
#scroll-top{
  display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 105px 138px 75px 138px;
}
#scroll-top-2{
  display: flex;
   text-align:center;
   align-items:center;
}
#therapeutic{
  display: flex;
  backdrop-filter: blur(2px);
  width: fit-content;
  /* margin-left: 30%; */
}
#therapeutic-mid{
  display: none;
}
#therapeutic div{
  margin-left: 40px;
  padding-right: 10px;
}
#therapeutic p{
  font-weight: 400;
font-size: 18px;
line-height: 160.9%;
}
#therapeutic-container{
  width: 70%;
   margin-left: 5%;
   margin-top: 10%;
}
#therapeutic-image{
  display: flex;
}
#therapeutic-image-sm{
  display: none;
}
.certified{
  margin-top: 115px;
}
.certified-h2{
  color: #071d49;
font-weight: 800;
font-size: 32px;
line-height: 141.9%;
}
.certified-p{
  margin-top: 32px;
  width: 774px;
  font-weight: 400;
font-size: 18px;
line-height: 160.9%;
  text-align: center;
}
.certified-image{
  display: flex; 
  margin-left: 12px;
  align-items: center;
   justify-content: space-evenly;

   z-index: -2;
}
.certified-image img{
  margin-top: -20%;
  margin-left: 12px;
}
.certified-2{
  margin-top: 115px;
}
.certified-2-h2{
  color: #071d49;
font-weight: 800;
font-size: 32px;
line-height: 141.9%;
}
.certified-2-p{
  margin-top: 32px;
  width: 543px;
  font-weight: 500;
font-size: 14px;
line-height: 150%;
color: #071d49;
  text-align: center;
}
.certified-2-image{
  display: flex; 
  margin-left: 12px;
  align-items: center;
   justify-content: space-evenly;

   z-index: -2;
}
.certified-image img{
  margin-top: -20%;
  margin-left: 12px;
}
@media screen and (max-width: 1398px) {
 
  #hero-article-image-mid {
    position: absolute;
    right: 0;
    top: 96px;
    z-index: -1;
  }
  #hero-content {
    width: 500px;
    margin: 150px 100px;
  }
}

@media screen and (max-width: 1294px) {
  /* hero article image  */
  #hero-article-image {
    display: none;
  }

  #hero-article-image-mid {
    display: flex;
    position: absolute;
    right: 0;
    top: 96px;
    width: 31%;
  }

  #hero-content {
    width: 600px;
    margin: 100px 100px;
  }
  /* absolute article  */

  #absolute-article h2 {
    padding: 110px 95px 24px 120px;
  }
  #absolute-article p {
    padding: 0px 95px 102px 120px;
  }

  #ring1-image {
  top: 880px;
}
  /* solution article  */
  #solution-article {
  margin: 76px 0 0 36px;
}
  #solution-content{
    margin-left: -30px;
  }
  #bg-down-image{
  top: 1300px;
  right: -200px;
}
}
@media screen and (max-width: 1204px) {
  #therapeutic-mid{
  display: flex;
  backdrop-filter: blur(2px);
  width: fit-content;
  margin-top: 12px;
}
#therapeutic-mid p{
 font-weight: 400;
font-size: 18px;
line-height: 160.9%;
}
#therapeutic-container{
margin-top: 2%;
}
#therapeutic-mid div{
 margin-left: 52px;
}
#therapeutic{
  display: none;
}
}
@media screen and (max-width: 1188px) {
  /* solution article  */
  #solution-article {
  margin: 76px 0 0 36px;

}
  #solution-content{
    margin-left: -30px;
  }
  #solution-btn{
  display: flex;
  background-color: #254aa0;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 4px;
  width: 200px;
  padding: 6px 12px 6px 20px;
}
.strech{
  display: none;
}
}
@media screen and (max-width: 1066px) {
  /* dropdown */
  nav ul {
    display: none;
  }
  /* get in touch  */
  #get-in-touch {
    background-color: #254aa0;
    color: #fff;
  }
  #toggle {
    display: block;
  }
  #toggle > * {
    padding: 2px;
    display: block;
  }
  /* hero  */
  #hero-content {
    width: 450px;
    margin: 100px 50px;
  }
  #hero-article-image-mid {
    display: flex;
    position: absolute;
    right: 0;
    top: 96px;
    width: 350px;
  }
  #purple-image img{
    margin-left: -6%;
    width: 105%;
  }
}
@media screen and (max-width: 960px) {
  #solution-article {
  margin: 76px 0 0 -56px;

}
#bg-down-image{
  top: 1500px;
}
#scroll-start{
  padding-left: 400px;
}
}
@media screen and (max-width: 850px) {
  /* hero  */
  #hero-content {
    width: 310px;
    margin: 100px 50px;
  }
  #hero-content-h1 {
    display: none;
  }
  #hero-content-h5 {
    display: flex;
    color: #071d49;
  }
  /* absolute article  */
  #absolute-article {
    margin-top: 190px;
  }
  #solution-content{
    width: 350px;
  }
  #solution-content h3 {
  margin-left: 50px;
  width: 300px;
}
#solution-content p {
  margin-left: 50px;
  width: 300px;
}
#solution-content-image{
  background-size: cover;
  border-radius: 0 0 150px 0;
}
#solution-content-image img{
height: 100%;
width: 100%;
}
#bg-down-image{
  top: 1500px;
  right: -400px;
}
#purple-container{
  flex-direction: column;
}
#purple-image{
  display: none;
}
#purple-image-mid{
  display: flex;
}
#therapeutic-mid div{
 margin-left: 2px;
}
}
@media screen and (max-width: 710px) {
  #hero-article-image-mid {
    width: 310px;
  }
  #absolute-article {
    border-radius: 0 110px 0 110px;
  }
}
@media screen and (max-width: 670px) {
  /* get in touch  */
  #get-in-touch {
    display: none;
  }
  /* hero  */
  #hero-content {
    width: 500px;
    margin: 100px 50px;
  }
  #hero-content-h1 {
    display: flex;
  }

  #hero-content-h5 {
    display: none;
  }

  #hero-article-image-mid {
    display: none;
  }
  #hero-article-image-sm {
    display: flex;
    position: absolute;
    /* right: 0; */
    left: 1;
    top: 620px;
    width: 640px;
  }
  /* absolute article  */
  #absolute-article {
    margin-top: 750px;
    border-radius: 0 110px 0 110px;
  }
  #absolute-article h2 {
    padding: 90px 95px 24px 120px;
  }
  /* solution article   */
  #solution{
    flex-direction: column;
  }
  #solution-btn{
    margin-top: 5%;
  }
  #solution-content-image{
    display: none;
  }
  #solution-content-image-sm{
    display: flex;
  background-image: url('./resources/bg-sm.svg');
   background-repeat: no-repeat; 
   padding: 0 0 0 16px; 
   margin-left: 70%;
}
#solution-content-container{
  flex-direction: column;
}
#solution-content{
  margin-left: 60px;
  border-top: none;
}
#bg-down-image{
display: none;
}
/* numbers article  */
#scroll-sm{
  display: flex;
  overflow-x: scroll;
  margin-top: 75px;
}
#scroll{
  display: none;
}
#scroll-article-1{
  border-radius: 150px 0 120px 0;
}
#therapeutic-image{
  display: none;
}
#therapeutic-image-sm{
  display: flex;
  z-index: -1;
  margin-top: -18%;
}
}
@media screen and (max-width: 550px) {
  /* hero  */
  #hero-content {
    width: 400px;
    margin: 100px 20px;
  }

  #hero-content-h1 {
    display: none;
  }

  #hero-content-h5 {
    display: flex;
  }

  #hero-article-image-sm {
    display: flex;
    position: absolute;
    right: 0;
    left: 1;
    top: 450px;
    width: 550px;
  }
  /* absolute artyicle  */
  #absolute-article {
    border-radius: 0 90px 0 90px;
  }
  #absolute-article h2 {
    padding: 90px 50px 24px 50px;
  }
  #absolute-article p {
    padding: 0px 50px 102px 50px;
  }
  #purple-gradient{
  padding: 60px 18px 0 18px;
  height: fit-content;
}
.margin-left{
  margin-left: 4%;
}
#checklist-btn{
  margin-left: 32%;
 
}
#checklist-container{
  margin-top: 50px;
}
#scroll-h2{
  display: none;
}
#scroll-h4{
  display: flex;
  font-weight: 700;
font-size: 40px;
line-height: 125%;
color: #071d49;
}
#scroll-top{
  flex-direction: column;
  align-items: flex-start;
   text-align: start;
   padding: 105px 138px 75px 30px;
}
#scroll-top-2{
  flex-direction: column;
  align-items: flex-start;
   text-align: start;
   
}
}
@media screen and (max-width: 450px) {
  #logo {
    padding-left: 10px;
  }
  /* hero  */
  #hero-content {
    width: 350px;
    margin: 100px 20px;
  }
  #hero-article-image-sm {
    top: 500px;
    width: 420px;
  }
  /* absolute artyicle  */
  #absolute-article {
    margin-top: 600px;
    /* border-radius: 0 90px 0 90px; */
  }
  #absolute-article h2 {
    padding: 110px 95px 24px 60px;
  }
  #absolute-article p {
    padding: 0px 95px 102px 60px;
  }
  /* checklist  */
  #checklist{
    display: none;
  }
  #checklist-sm{
    display: flex;
  }
  #scroll-article-1{
  border-radius: 150px 0 80px 0;
}
  #scroll-h4{
    width: 300px;
  }
  #scroll-top{
  padding-left: 80px;
}

}
@media screen and (max-width: 370px) {
  /* hero  */
  #hero-content {
    width: 300px;
    margin: 100px 40px;
  }
  #hero-article-image-sm {
    top: 480px;
    width: 370px;
  }
  /* absolute article  */
  #absolute-article {
    margin-top: 510px;
  }
  #absolute-article h2 {
    padding: 60px 50px 24px 60px;
  }
  #absolute-article p {
    padding: 0px 50px 60px 60px;
  }

}
